<launch>
  <node name="points_generator" pkg="ar_week8_test" type="points_generator.py"/>
  <node name="cubic_traj_planner" pkg="ar_week8_test" type="cubic_traj_planner.py"/>
  <node name="compute_cubic_coeffs" pkg="ar_week8_test" type="compute_cubic_coeffs.py"/>
  <node name="plot_cubic_traj" pkg="ar_week8_test" type="plot_cubic_traj.py"/>
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/ar_week8_test/position_traj /ar_week8_test/velocity_traj /ar_week8_test/acceleration_traj"/>
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
</launch>
